#
# ESP32 Zigbee Coordinator Settings
#
CONFIG_NCP_BUS_MODE_UART=y
# CONFIG_NCP_BUS_MODE_USB is not set
CONFIG_NCP_BUS_UART_BAUD_RATE=500000
CONFIG_NCP_BUS_UART_BYTE_SIZE=3
CONFIG_NCP_BUS_UART_PARITY=0
CONFIG_NCP_BUS_UART_STOP_BITS=1
CONFIG_NCP_BUS_UART_FLOW_CONTROL=0
CONFIG_NCP_BUS_UART_NUM=1
CONFIG_NCP_BUS_UART_RX_PIN=2
CONFIG_NCP_BUS_UART_TX_PIN=1
CONFIG_NCP_BUS_UART_RTS_PIN=-1
CONFIG_NCP_BUS_UART_CTS_PIN=-1
# end of ESP32 Zigbee Coordinator Settings
